<header>
    <div class="logo-container">
        <span class="logo-text">NutriTracker</span>
        <img src="/nutriTracker.png" alt="NutriTracker Logo" class="Logo" />

        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/mealCreator">Meal Creator</a></li>
                <li><a href="/mealTracker">Meal Tracker</a></li>
                <li><a href="/dailyNutri">Calorie Tracker</a></li>
                <li><a href="/activityTracker">Activity Tracker</a></li>
                <li>
                    <!-- <div id="dateDisplay"></div> -->
                </li>
            </ul>
        </nav>
    </div>
    <!-- Profile Section -->
    <div class="profile-container" onclick= "toggleSidebar(),showNameSidebar()">
        <img src="/profile.png" alt="Profile Picture" class="profile-pic">
        <span class="profile-name">Profile</span>
    </div>
    <!-- Sliding Sidebar for Profile Details -->
    <div id="profileSidebar" class="profile-sidebar">
        <img src="/profile.png" alt="Profile Picture" class="sidebar-profile-pic">
        <div class="sidebar-username" id="name">Profile name</div>
        <a href="/settings">Settings</a>
        <!-- <button onclick="logout()">Logout</button> -->
        <form id="logoutForm" action="/api/logout" method="POST" target="_self">
            <input type="hidden" name="csrf_token" value="your_csrf_token_here"> <!-- Optional: CSRF token -->
            <button type="submit" class="btn-submit">Logout</button>
        </form>
    </div>

    <script src="/sidebar.js"></script>
    <script src="/user.js"></script>

</header>