<header>
    <div class="logo-container">
        <span class="logo-text">NutriTracker</span>
        <img src="/nutriTracker.png" alt="NutriTracker Logo" class="Logo" />

        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/mealCreator">Meal Creator</a></li>
                <li><a href="/mealTracker">Meal Tracker</a></li>
                <li><a href="/dailyNutri">Daily Nutri</a></li>
                <li><a href="/activityTracker">Activity Tracker</a></li>
                <li>
                    <!-- <div id="dateDisplay"></div> -->
                </li>
            </ul>
        </nav>
    </div>
    <!-- Profile Section -->
    <div class="profile-container" onclick= "toggleSidebar()">
        <img src="/profile.png" alt="Profile Picture" class="profile-pic">
        <span class="profile-name">Profile</span>
    </div>
    <!-- Sliding Sidebar for Profile Details -->
    <div id="profileSidebar" class="profile-sidebar">
        <img src="/profile.png" alt="Profile Picture" class="sidebar-profile-pic">
        <div class="sidebar-username">Gruppe 30s profil</div>
        <a href="/settings">Settings</a>
    </div>

    <script src="/sidebar.js"></script>
</header>