<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutri Report </title>
    <link rel="stylesheet" href="/style.css">
    <script src="/sidebar.js"></script>
    <!-- <base href="/"> -->

</head>

<body>
    <div id="headerContainer"></div> <!-- Container for the header -->
    <script>
        fetch('partials/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('headerContainer').innerHTML = data;
            })
            .catch(error => console.error('Error loading the header:', error));
    </script>


    <div id="footerContainer"></div> <!-- Container for the footer -->
    <!-- JavaScript to load header -->
    <script src="/date.helper.js"></script>
    <script src="/footer.helper.js"></script>
</body>

</html>