<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/sidebar.js"></script>
    <script src="/user.js"></script>
    <!-- <base href="/"> -->

</head>

<body>
    <div id="headerContainer"></div> <!-- Container for the header -->
    <main>
        <section id="dashboard" aria-label="User dashboard">
            <h1>Dashboard</h1>
            <h3 id="date"></h3>
            <div id="meals-today" class="dashboard-item">
                <h2>Meals Today</h2>
                <p id="mealsToday">Number of meals consumed today.</p>
            </div>
            <div id="energy-today" class="dashboard-item">
                <h2>Energy Today</h2>
                <p id="energyToday">Calories consumed today.</p>
            </div>
            <div id="water-today" class="dashboard-item">
                <h2>Water Today</h2>
                <p id="waterToday">Liters of water drunk today.</p>
            </div>
            <div id="protein-today" class="dashboard-item">
                <h2>Protein Today</h2>
                <p id="proteinsToday">Grams of protein consumed today.</p>
            </div>
        </section>
    </main>


    <div id="footerContainer"></div> <!-- Container for the footer -->
    <!-- JavaScript to load header -->
    <script src="/date.helper.js"></script>
    <script src="/partials.helper.js"></script>
</body>

</html>