<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <header>
        <div class="logo-container">
            <span class="logo-text">NutriTracker</span>
            <img src="./nutriTracker.png" alt="NutriTracker Logo" class="Logo" />
        </div>
        <div class="login-container">
            <button onclick="location.href='/login.html';" class="login-button">Log In</button>
        </div>
    </header>

    <div class="navigation-container">
        <h1 class="navigation-header">Navigate to</h1>
        <div class="center-navigation">
            <button onclick="window.location.href='/dashboard.html';" class="nav-button button-blue">Dashboard</button>
            <button onclick="window.location.href='/nutritracker.html';"
                class="nav-button button-green">NutriTracker</button>
            <button onclick="window.location.href='/mealtracker.html';" class="nav-button button-blue">MealTracker</button>
            <button onclick="window.location.href='/nutrireport.html';"
                class="nav-button button-green">NutriReport</button>
        </div>
    </div>
</body>

</html>