<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="logo-container">
            <!-- Tekst logo -->
            <span class="logo-text">NutriTracker</span>
            <!-- Billede logo -->
            <img src="./nutriTracker.png" alt="NutriTracker Logo" class="Logo" />
        </div>
    </header>
    <div class="login-form">
        <!-- Luk-knap til at navigere tilbage til startsiden -->
        <button class="close-button" onclick="window.location.href='/'">✖</button>
        <h1>Login</h1>
        <!-- Formularen for brugerregistrering -->
        <form id="userForm" action="/api/login" method="post" target="_self">


            <!-- Gruppe for email -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <!-- Gruppe for password -->
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <!-- Indsendelsesknap -->
            <button type="submit" class="btn-submit">Login</button>
        </form>
    </div>
<div class="text-btn-container">
    <h3 onclick="window.location.href='/register';" class="text-btn">Register User</h3>
    <script type="module" src="/alert.helper.js"></script>
</div>
</body>

</html>