<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Creator</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <base href="/"> -->

</head>

<body>
    <div id="headerContainer"></div> <!-- Container for the header -->
    <script>
        fetch('/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('headerContainer').innerHTML = data;
            })
            .catch(error => console.error('Error loading the header:', error));
    </script>
    <main>
        <section id="head">
            <header>
                <h2>Meal Creator</h2>
            </header>
            <!-- Form for creating a meal -->
            <div class="button-container">
                <!-- Buttons for adding meals or recipes -->
                <button id="add-liquid-button" type="button" class="button-plus button-blue" aria-label="Add new liquid">+</button>
                <button id="add-recipe-button" type="button" class="button-plus button-green" aria-label="Add new recipe">+</button>
            </div>
        </section>
        
        <!-- List of meals -->
        <section aria-labelledby="mealsHeader">
            <!-- <header>
                <h3 id="mealsHeader">Meal List</h3>
            </header> -->
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="meal">Meal Name</th>
                        <th scope="col">Total Kcal per 100g</th>
                        <th scope="col">Added on</th>
                        <th scope="col"># Ingredients</th>
                        <th scope="col">Times Eaten</th>
                    </tr>
                </thead>
                <tbody id="mealList">
                    <!-- Dynamic meal entries -->
                </tbody>
            </table>
        </section>
    </main>
    

    <div id="footerContainer"></div> <!-- Container for the footer -->
    <!-- JavaScript to load header -->
    <script src="/date.helper.js"></script>
    <script src="/header.helper.js"></script>
    <script src="/footer.helper.js"></script>
    <script src="/sidebar.js"></script>
</body>

</html>