<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Tracker</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <base href="/"> -->

</head>

<body>
    <div id="headerContainer"></div> <!-- Container for the header -->
    <script>
        fetch('/header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('headerContainer').innerHTML = data;
            })
            .catch(error => console.error('Error loading the header:', error));
    </script>
    <main>
        <section id="head">
            <h2>Meal Tracker</h2>
            <!-- Form for creating a meal -->
            <div class="btn-container">
                <!-- Submit button -->
                <button id="add-liquid-btn" type="btn" class="btn-plus btn-blue"
                    aria-label="Add new liquid">+</button>
                <button id="add-meal-btn" type="btn" class="btn-plus btn-green"
                    aria-label="Add new meal">+</button>
            </div>
        </section>
        <!-- Table to display tracked meals -->
        <section>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="meal">Meal Name</th>
                        <th scope="col">Meal & Source</th>
                        <th scope="col">Weight & Energy</th>
                        <th scope="col">Added on</th>
                        <th scope="col">% of daily cons</th>
                    </tr>
                </thead>
                <tbody id="meal-item">
                </tbody>
            </table>
        </section>
    </main>

    <div id="footerContainer"></div> <!-- Container for the footer -->
    <!-- JavaScript to load header -->
    <script src="/header.helper.js"></script>
    <script src="/date.helper.js"></script>
    <script src="/footer.helper.js"></script>
    <script src="/sidebar.js"></script>
</body>

</html>