<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Creator</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/sidebar.js"></script>
    <script src="/user.js"></script>
    <script src="/dom.helper.js"></script>
    <!-- <base href="/"> -->

</head>

<body>
    <div id="headerContainer"></div> <!-- Container for the header -->
    <main>
        <section id="head">
            <header>
                <h2>Meal Creator</h2>
            </header>
            <!-- Form for creating a meal -->
            <div class="btn-container">
                <!-- Buttons for adding meals or recipes -->
                <button id="add-liquid-btn" type="button" class="btn-plus btn-blue">+</button>
                <button id="add-recipe-btn" type="button" class="btn-plus btn-green">+</button>
            </div>
        </section>

        <!-- List of meals -->
        <section aria-labelledby="mealsHeader">
            <!-- <header>
                <h3 id="mealsHeader">Meal List</h3>
            </header> -->
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="meal">Meal Name</th>
                        <th scope="col">Total Kcal per 100g</th>
                        <!-- <th scope="col">Added on</th> -->
                        <th scope="col"># Ingredients</th>
                        <!-- <th scope="col">Times Eaten</th> -->
                    </tr>
                </thead>
                <tbody id="mealList">
                    <!-- Dynamic meal entries -->
                </tbody>
            </table>
        </section>
    </main>

    <modal id="modal-wrapper" class="hide">
        <div id="modal-content-wrapper">
            <div id="close-create-btn" class="modal-close-wrapper">
                <button type="button" class="modal-close-btn" onclick=toggleModalVisibility()>X</button>
            </div>

            <form id="recipeForm">
                <div id="modal-content">
                    <h2>Create recipe</h2>
                    <input type="text" id="nameInput" placeholder="Name your recipe..." required>
                    <h3>Select meal type</h3>
                    <select id="typeSelect" name="options" required>
                        <option value="" disabled selected>Choose...</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Snack">Snack</option>
                        <option value="Desert">Desert</option>
                        <option value="Water">Water</option>
                    </select>
                    <h3>Did you buy or cook yourself?</h3>
                    <input type="text" id="sourceInput" placeholder="Write the source..." required>
                    <h3>Select ingredients</h3>
                    <input type="text" id="searchInput" placeholder="Search food items..." autocomplete="off">
                    <div id="searchResults"></div>
                    <div id="selectionArea">
                        <p id="selectedItem">Selected Item: None</p>
                        <p>Weight in grams:</p>
                        <input type="number" id="itemWeight" placeholder="Weight (g)" value="1" required>
                        <button type="button" id="addIngredient">Add ingredient</button>
                    </div>
                    <div id="selectedIngredientsList">
                        <ul id="ingredientList"></ul>
                    </div>
                    <div id="recipeButtonContainer">
                        <button type="button" id="addRecipe">Add Recipe</button>
                        <button  type="button"id="editRecipe" class="hide">Update Recipe</button>
                    </div>

                </div>
            </form>

            <!-- <button id="editRecipe">Edit Recipe</button> -->
        </div>
    </modal>

    <modal id="ingdredient-modal-wrapper" class="inspect-list hide">
        <div class="modal-content-wrapper">
            <div id="inspection-list-close-btn" class="modal-close-wrapper">
                <button type="button" class="modal-close-btn" onclick=toggleIngredientList()>X</button>
            </div>

            <div id="modal-content">
                <table>
                    <thead id="mealInspectionListHead">
                        <h2>Ingredients and Macros pr. 100g</h2>
                        <tr>
                            <th>Meal Name</th>
                            <th>Weight (g)</th>
                            <th>Dry Matter</th>
                            <th>Energy (kcal)</th>
                            <th>Energy (kJ)</th>
                            <th>Fat</th>
                            <th>Fiber</th>
                            <th>Protein</th>
                            <th>Water</th>
                        </tr>
                    </thead>
                    <tbody id="mealInspectionListBody"></tbody>
                </table>
            </div>
        </div>
    </modal>


    <div id="footerContainer"></div> <!-- Container for the footer -->
    <!-- JavaScript to load header -->
    <script src="/partials.helper.js"></script>
    <script src="/modal.js"></script>
    <script src="/addIngredient.helper.js"></script>
    <script src="/mealCreator.helper.js"></script>
</body>

</html>