<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Tracker</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/sidebar.js"></script>
    <script src="/user.js"></script>
    <script src="/dom.helper.js"></script>
    <!-- <base href="/"> -->

</head>

<body>
    <div id="headerContainer"></div> <!-- Container for the header -->
    <main>
        <section id="head">
            <head>
            <h2>Meal Tracker</h2>
            </head>
            <!-- Form for creating a meal -->
            <div class="btn-container">
                <!-- Submit button -->

                <button id="add-liquid-btn" type="btn" class="btn-plus btn-blue" onclick="toggleModalVisibilityTracker()">+</button>

          
                <button id="add-meal-btn" type="btn" class="btn-plus btn-green" onclick="toggleModalVisibilityTracker()">+</button>
            </div>
        </section>
        <!-- Table to display tracked meals -->
        <section>
            <div class="meal-tracker">
                <div class="meal-header">
                    <div class="meal-column">Meal Name</div>
                    <div class="meal-column">Source</div>
                    <div class="meal-column">Weight & Energy</div>
                    <div class="meal-column">Geolokation</div>
                    <div class="meal-column">Added On</div>
                    <div class="meal-column">% of Daily Cons</div>
                    <div class="meal-column"></div>
                </div>
                <div id="meal-item">
                    <!-- Dynamisk meal entry -->
                </div>
            </div>
        </section>
    </main>

    <modal id="modal-wrapper" class="hide">
        <div id="modal-content-wrapper">
            <div id="close-create-btn" class="modal-close-wrapper">
                <button type="button" class="modal-close-btn" onclick=toggleModalVisibilityTracker()>X</button>
            </div>

            <form id="mealTrackerForm">
                <div id="modal-content">
                    <h3>Find your meal</h3>
                    <input type="text" id="searchInput" placeholder="Search meal to add..." autocomplete="off">
                    <div id="searchResults"></div>
                    <div id="selectionArea">
                        <p id="selectedItem">Selected Meal: None</p>
                        <p>Weight in grams:</p>
                        <input type="number" id="itemWeight" placeholder="Weight (g)" value="0" required>
                    </div>
                    <div id="selectedIngredientsList">
                        <ul id="ingredientList"></ul>
                    </div>

                    <div id="recipeButtonContainer">
                        <button type="button" id="singleIngredient" onclick="toggleModalVisibilitySingleIngredient()">Register single ingridient</button>
                        <button type="submit" id="addRecipe" onclick="toggleMealTrackerModal()">Save</button>

                    </div>
                </div>
            </form>

            <!-- <button id="editRecipe">Edit Recipe</button> -->
        </div>
    </modal>

    <modal id="modal-wrapper2" class="hide">
        <div id="modal-content-wrapper">
            <div id="close-create-btn" class="modal-close-wrapper">
                <button type="button" class="modal-close-btn" onclick="toggleModalCloseVisibilitySingleIngredient()">X</button>
            </div>

            <form id="mealTrackerSingleIngredient">
                <div id="modal-content">
                    <h3>Find your snack</h3>
                    <input type="text" id="searchInputIngredient" placeholder="Search ingredient to add..." autocomplete="off">
                    <div id="searchResultsIngredient"></div>
                    <div id="selectionArea">
                        <p id="selectedIngredientItem">Selected Snack: None</p>
                        <p>Weight in grams:</p>
                        <input type="number" id="ingredientItemWeight" placeholder="Weight (g)" value="0" required>
                    </div>
                    <div id="selectedIngredientsList">
                        <ul id="ingredientList"></ul>
                    </div>

                    <div id="recipeButtonContainer">
                        <button type="submit" id="addRecipe" onclick="toggleModalCloseVisibilitySingleIngredient()">Add your snack</button>
                    </div>
                </div>
            </form>

            <!-- <button id="editRecipe">Edit Recipe</button> -->
        </div>
    </modal>


            <div id="footerContainer"></div> <!-- Container for the footer -->
            <!-- JavaScript to load header -->
            <script src="/date.helper.js"></script>
            <script src="/mealTracker.helper.js"></script>
            <script src="/partials.helper.js"></script>
            <script src="/modal.js"></script>
            <script src="/geo.helper.js"></script>
</body>

</html>