option.hidden {
    display: none;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#activity-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.hidden {
    display: none; /* Hide hidden options */
}

/* Add this CSS to your existing style.css file */

/* Result element */
#result {
    margin-top: 20px;
    font-weight: bold;
}

/* Calories section */
#calories-section {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#calories-section h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #007bff;
}

#calories-info {
    font-size: 18px;
}

#result {
    text-align: center; /* Center the text horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
}

.back-button {
    display: block;
    width: 120px;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px auto; /* Centers the button horizontally */
    cursor: pointer;
}

.back-button:hover {
    background-color: #45a049;
}

#hours,
#minutes {
    display: inline-block;
    width: 48%; 
}

