@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background: url("layered-waves-haikei.svg");
    /* Updated path to image file */
    background-size: cover;
    height: 100vh;
}

/* header styling */

header {
    display: flex;
    justify-content: space-between;
    /* Aligns children (logo-container and profile-container) on opposite ends */
    align-items: center;
    /* Centers children vertically */
    padding: 10px 20px;
    /* Add padding for breathing room */

}

/* Footer styling */

footer {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 20px;
    /* Set profile picture size */
    height: 20px;
    /* Maintain aspect ratio */
    border-radius: 50%;
    /* Make the image round */
    margin-right: 10px;
    /* Space between picture and username */
}

.profile-name {
    font-family: 'Nunito', sans-serif;
    color: #424242;
    font-weight: bold;
}

/* Sidebar styling */
.profile-sidebar {
    height: 100%;
    /* Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Fixed Position */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    /* Start from the right side */
    background-color: white;
    /* Changed background color to white */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* Transition effect */
    padding-top: 60px;
    /* Some padding */
    color: black;
    /* Ensure text elements are black */
}

.profile-sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: black;
    /* Text color set to black */
    display: block;
    transition: 0.3s;
}

.profile-sidebar a:hover {
    color: #555;
    /* A darker shade of grey for hover */
}

.sidebar-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
}

.sidebar-username {
    width: 100%;
    /* Ensure all children take full width */
    text-align: center;
    margin-bottom: 20px;
}



/* Logo Styling */

.logo {
    height: 20px;
    /* Adjust as needed */
    width: 10px;
    margin-right: 10px;
    /* Space between logo and title */
}

.logo-text {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #91c789;
    margin-right: 10px;
    /* Space between text and logo */
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-left: 10vw;

}

nav li {
    display: inline;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 1rem;
    /* Paragraph 1 size */
    font-weight: 400;
    /* Regular font weight */
    color: #424242;
    /* Dark grey color from palette */
}


.navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 20vh;
    height: 100vh;
    width: 100%;
}

.navigation-header {
    font-family: 'Nunito', sans-serif;
    color: #424242;
    /* Dark grey color from your palette */
    font-size: 2rem;
    /* Large, readable size */
    font-weight: 700;
    /* Bold weight for prominence */
    margin-bottom: 20px;
    /* Spacing between header and btns */
}

.center-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 20px;
    /* margin: 50px; */
}

.nav-btn {
    font-size: 18px;
    /* Match btn text size */
    background-color: #76a06f;
    font-weight: bold;
    color: white;
    /* Text color */
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer on hover */
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

.nav-btn.btn-blue:hover,
.nav-btn.btn-blue:focus,
.nav-btn.btn-green:hover,
.nav-btn.btn-green:focus {
    background-color: #407ba7;
    /* Darker blue on hover/focus */
}


#head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

#settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Main HTML content: Tables */
main {
    width: 100%;
    /* or 100% if you want it full width */
    margin: 2em auto;
    /* Top and bottom margin */
    padding: 20px;
    /* Padding inside the main container */
    background: #ffffff;
    /* Background color */
    border-radius: 10px;
    /* Optional: rounds the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: adds shadow for depth */
    max-width: 1140px;
    /* Maximum width of the main container, adjust as necessary */
    margin-top: 5%;
}

.btn-container {
    position: relative;
    top: 0;
    right: 0;
    padding: 10px;
}

.btn-plus {
    font-size: 24px;
    /* Adjust size as needed */
    font-weight: bold;
    color: white;
    /* Plus sign color */
    width: 50px;
    /* Square dimensions */
    height: 50px;
    line-height: 50px;
    /* Center the plus sign vertically */
    margin-left: 10px;
    /* Space between btns */
    border-radius: 50%;
    /* Makes the btn round */
    border: none;
    /* Removes border */
    cursor: pointer;
    /* Changes cursor to pointer on hover */
}

.btn-blue {
    background-color: #569bd5
}

.btn-green {
    background-color: #91c789
}

.meal {
    padding-right: 150px;
}

/* //Table// */
/* 
table {
    width: 100%;
    border-collapse: separate;
    overflow-x: auto;
    border-spacing: 0 10px;
    background-color: transparent;
    border-radius: 0.75em;
}

thead th {
    padding: 15px;
    text-align: center;
    color: #757575;
}

/* Apply this to all elements to prevent padding and border from affecting width */
* {
    box-sizing: border-box;
} */

/* Dashboard CSS */

#dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#dashboard>div {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

#btn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-btn-container {
    display: flex;
    align-items: center;
    /* Vertical centering */
    justify-content: center;
    /* Horizontal centering */
}


.text-btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}


#calories-section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#calories-info {
    font-size: 18px;
}

#result {
    text-align: center;
    /* Center the text horizontally */
    margin-top: 20px;
    /* Add some top margin for spacing */
}

#hours,
#minutes {
    display: inline-block;
    width: 48%;
}

/* register User Styling */
.registration-form,
.login-form {
    background: white;
    /* Hvid baggrund */
    padding: 32px;
    /* Indre afstand */
    border-radius: 8px;
    /* Afrundede hjørner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Skygge for at skabe dybde */
    width: calc(50% - 80px);
    /* Bredden er 50% minus 80px */
    max-width: 500px;
    /* Maksimum bredde */
    margin: 2em auto;
    /* Centrerer formen horisontalt */
    /* align-items: center; */
}

/* Styling af form-grupper, som indeholder labels og inputs */
.form-group {
    margin-bottom: 15px;
    /* Afstand mellem form-grupper */
}

/* Styling af labels */
label {
    display: block;
    /* Gør label til et blokelement */
    margin-bottom: 5px;
    /* Afstand til inputfelt */
    font-size: 20px;
    /* Skriftstørrelse */
    font-weight: 700;
    /* Fed tekst */
    color: #424242;
    /* Farve for bedre kontrast */
}

/* Styling af input-felter */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    /* Fylder hele bredden af sin container */
    padding: 6px;
    /* Indre afstand */
    margin-top: 5px;
    /* Afstand til toppen */
    border: 1px solid #DEDFD8;
    /* Kanten af feltet */
    border-radius: 6px;
    /* Afrundede hjørner på feltet */
    font-size: 12px;
    /* Skriftstørrelse */
    box-sizing: border-box;
    /* Sørger for at padding og border er inkluderet i bredden */
}

/* Styling af submit-knappen */
.btn-submit {
    width: 100%;
    /* Fylder hele bredden af sin container */
    padding: 15px;
    /* Indre afstand */
    background-color: #91c789;
    /* Baggrundsfarve */
    border: 2px solid #91c789;
    /* Kanten af knappen */
    color: white;
    /* Tekstfarve */
    border-radius: 4px;
    /* Afrundede hjørner på knappen */
    cursor: pointer;
    /* Cursor ændres til en hånd når man hover */
    font-size: 16px;
    /* Skriftstørrelse */
    font-weight: 700;
    /* Fed tekst */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    /* Overgangseffekt */
    margin-top: 20px;
    /* Afstand til toppen */
}

/* Styling af knappen når musen er over */
.btn-submit:hover {
    background-color: transparent;
    /* Gør baggrunden transparent */
    color: #91c789;
    /* Tekstfarve */
    border-color: #91c789;
    /* Kanten af knappen */
}

/* Styling af select-feltet */
select {
    width: 100%;
    /* Fylder hele bredden af sin container */
    padding: 6px;
    /* Indre afstand */
    margin-top: 5px;
    /* Afstand til toppen*/
    border-radius: 6px;
    /* Afrundede hjørner på feltet */
}

/* Styling af close-button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    color: #cc0000;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

.close-button:hover {
    color: #ff3333;
}

.inspect-button,
.delete-button,
#addRecipe,
#editRecipe,
#ingredientButton,
.edit-button,
#addIngredient {
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
    /* Prevents the button from shrinking */
}

.inspect-button {
    background-color: #569BD5;
    color: white;
    border: none;
}

.inspect-button:hover {
    background-color: #467daa;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
}

.delete-button:hover {
    background-color: darkred;
}

#editRecipe,
#addRecipe,
#addIngredient {
    background-color: #91c789;
    color: white;
    border: none;

}

#editRecipe.hide,
#addRecipe.hide {
    background-color: #91c789;
    color: white;
    border: none;

}

.edit-button {
    background-color: #91c789;
    color: white;
    border: none;

}

.edit-button:hover {
    background-color: #6c9565;
}

#editRecipe:hover,
#addRecipe:hover,
#addIngredient:hover {
    background-color: #6c9565;
}

#addRecipe:disabled {
    background-color: #354932;
    cursor: default;
}







/* Table styling start*/
#modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #00000080;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
}

#modal-content-wrapper {
    flex-direction: column;
    display: flex;
    margin-top: 2rem;
    width: 80%;
    height: fit-content;
}

#modal-content {
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: white;
}

#modal-content-wrapper-for-settings {
    flex-direction: column;
    display: flex;
    margin-top: 2rem;
    width: 30%;
    height: fit-content;
}

#modal-wrapper.hide {
    display: none;
}

.modal-close-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
}

.modal-close-button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-size: 1.5rem;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Include padding and border in the width */
}

#nameInput {
    padding: 10px;
    font-size: 10;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.result-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f0f0f0;
}

#itemWeight,
#calculateButton {
    margin-left: 10px;
}

#selectionArea {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    /* Ensure full width within container */
    box-sizing: border-box;
    /* Include padding and border in width */
    margin-bottom: 10px;
    /* Space below the selection area */
}

#selectedItem {
    margin: 0;
    /* Remove default margin */
}

#itemWeight {
    width: 100px;
    /* Adjust width as needed */
}

#mainContainer {
    border: 2px solid #000;
    padding: 20px;
    position: relative;
    max-width: 1200px;
    /* Adjust as per your layout */
    margin: auto;
    box-sizing: border-box;
}

#recipeButtonContainer {
    display: flex;
    justify-content: flex-end;
}


#selectedIngredientsList {
    margin-top: 20px;
    /* Space above the list */
}

#ingredientList {
    list-style-type: none;
    padding-left: 0;
    /* Remove default padding */
    margin-top: 10px;
    /* Space above the list */
}

#ingredientList li {
    background-color: #f0f0f0;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

/* modal styling end. */



/* ---Table Styling start--- */
table {
    width: 100%;
    border-collapse: separate;
    overflow-x: auto;
    border-spacing: 0 10px;
    background-color: transparent;
    border-radius: 0.75em;
}

thead th {
    padding: 15px;
    text-align: center;
    color: #757575;
}

tbody tr {
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

tbody td {
    padding: 15px;
    text-align: center;
}

td.meal-name {
    width: 30%;
    padding-right: 150px;
}

/* General padding and alignment for all table headers and cells */
table td, table th {
    padding: 10px;
    text-align: center;
    border: none;
}

/* Specific padding for the last three header and data cells */
thead th:last-child, thead th:nth-last-child(2), thead th:nth-last-child(3),
tbody td:last-child, tbody td:nth-last-child(2), tbody td:nth-last-child(3) {
    padding-right: 2px;
    padding-left: 2px;
}

/* Rounded corners for the first and last cells in each row */
.recipe-row td:first-child div, .recipe-row td:last-child div {
    border-radius: 50px;
}

/* ---Table Styling slut--- */


































#calories-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#calories-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#activity-list li {
    cursor: pointer;
    margin: 2px 0;
    padding: 5px;
    background-color: #f0f0f0;
}

#activity-list li:hover {
    background-color: #ddd;
}


#age {
    margin-bottom: 20px;
}

#weight {
    margin-bottom: 20px;
}

#gender {
    margin-bottom: 20px;
}

#delete-btn {
    width: 100%;
    /* Fylder hele bredden af sin container */
    padding: 15px;
    /* Indre afstand */
    background-color: red;
    /* Baggrundsfarve */
    border: 2px solid red;
    /* Kanten af knappen */
    color: white;
    /* Tekstfarve */
    border-radius: 4px;
    /* Afrundede hjørner på knappen */
    cursor: pointer;
    /* Cursor ændres til en hånd når man hover */
    font-size: 16px;
    /* Skriftstørrelse */
    font-weight: 700;
    /* Fed tekst */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    /* Overgangseffekt */
    margin-top: 20px;
    /* Afstand til toppen */
}

#delete-btn:hover {
    background-color: transparent;
    /* Gør baggrunden transparent */
    color: rgb(130, 22, 22);
    /* Tekstfarve */
    border-color: rgb(130, 22, 22);
    /* Kanten af knappen */
}



/* daily nutri */
.nutrition-table {
    border-collapse: collapse;
    width: 100%;
}

.nutrition-table th,
.nutrition-table td {
    
    padding: 8px;
    text-align: left;
}

/* Tilføj afrundede hjørner til første og sidste celle i hver række */
.nutrition-table th:first-child,
.nutrition-table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nutrition-table th:last-child,
.nutrition-table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nutrition-table th {
    background-color: #f29A8A;
    color: rgb(0, 0, 0);
}


/* Style for view-selector container */
.view-selector {
    margin-bottom: 20px;
    text-align: center;
}

/* Style for view buttons */
.view-selector button {
    background-color: #91c789; /* Baggrundsfarve */
    color: white; /* Tekstfarve */
    border: none;
    padding: 10px 20px; /* Tilpas polstring efter behov */
    font-size: 16px; /* Juster skriftstørrelsen efter behov */
    border-radius: 5px; /* Afrundede hjørner */
    cursor: pointer;
    margin: 0 10px; /* Tilføj margen mellem knapper */
}

/* Style for view buttons on hover */
.view-selector button:hover {
    background-color: #7aa579; /* Ændrer baggrundsfarve ved hover */
}

